*{
    margin: 0;
    box-sizing: border-box;

}

section{
    width: 80%;
    height: 400px;
    margin: 25px auto;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}



section:nth-child(1)>p {
    margin-left: 10px;
    width: 40px;
    height: 30px;;
    background-image: linear-gradient(to right, green 33.33%, white 33.33% 66.66%, green 66.66%);
}
section:nth-child(2)>p {
    width: 40px;
    margin-left: 10px;
    height: 30px;
    border: solid 1px black;
    background-image: radial-gradient(circle at center,  red 30%, white 20%);
  }
section:nth-child(3)>p {
    width: 40px;
    margin-left: 10px;
    height: 30px;
    background-image: linear-gradient(to bottom,red 33.33%, blue 33.33% 66.66%, green 66.66%);
  }
section:nth-child(4)>p {
    width: 40px;
    margin-left: 10px;
    height: 30px;
    background-image: linear-gradient(to bottom,green 33.33%, yellow 33.33% 66.66%, blue 66.66%);
  }
section:nth-child(5)>p {
    width: 40px;
    margin-left: 10px;
    height: 30px;
    background-image: linear-gradient(to right,blue 33.33%, white 33.33% 66.66%, red 66.66%);
  }
section:nth-child(6)>p {
    width: 40px;
    margin-left: 10px;
    height: 30px;
    background-image: linear-gradient(to right,black 33.33%, yellow 33.33% 66.66%, red 66.66%);
  }
section:nth-child(7)>p {
    width: 40px;
    margin-left: 10px;
    height: 30px;
    background-image: linear-gradient(to bottom,black 33.33%, yellow 33.33% 66.66%, red 66.66%);
  }
