*{
    margin: 0;
    box-sizing: border-box;

}

section{
    width: 50%;
    height: 400px;
    margin: 25px auto;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}



section:first-of-type {
        background-image: linear-gradient(to right, green 33.33%, white 33.33% 66.66%, green 66.66%);
}
section:nth-child(2){
    
    background-image: radial-gradient(circle at center,  red 20%, white 20%);
  }
section:nth-child(3) {
    
    background-image: linear-gradient(to bottom,red 33.33%,white 20.30% 26.66%, blue 33.33% 66.66%, white 20% 20%,  green 46.66%);
  }
section:nth-child(4) {
    
    background-image: linear-gradient(to bottom,green 33.33%, yellow 33.33% 66.66%, blue 66.66%);
  }
section:nth-child(5) {
   
    background-image: linear-gradient(to right,blue 33.33%, white 33.33% 66.66%, red 66.66%);
  }
section:nth-child(6) {
    
    background-image: linear-gradient(to right,black 33.33%, yellow 33.33% 66.66%, red 66.66%);
  }
section:nth-child(7) {
    
    background-image: linear-gradient(to bottom,black 33.33%, yellow 33.33% 66.66%, red 66.66%);
  }

  section:nth-of-type(8){
    background-color: red;
    background-image: url(./images/star.png), url(./images/star.png), url(./images/star.png), url(./images/star.png), url(./images/star.png);
    background-repeat: no-repeat;
    background-position: 40px 50px, 150px 30px, 170px 70px, 170px 120px, 140px 170px;
    background-size: 110px, 35px, 35px, 35px, 35px;
  }